body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header{
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;

}

.adds{
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
}

.initial{
    align-items: center;
    display: flex;
    justify-content: center;
}

.AnunI{

    justify-self: center;

}

.buttoms{
    align-items: center;
    text-align: center;
    justify-content: center;
}