body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header{
    background-color: gray;
    padding: 10px;
    text-align: center;

}

.adds{
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
}

.initial{
    align-items: center;
    display: flex;
    justify-content: center;
}

.AnunI{

    justify-self: center;

}

.navigate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

a{
    cursor: pointer;
}

/*classes de joão pedro kkkkkkk*/
.jojo{
    color: yellow;
}
.jiji{
    color: red;
}
.juju{
    color: orange;
}
.jyjy{
    color: greenyellow;
}
.jkjk{
    color: firebrick;
}
.jhjh{
    color: goldenrod;
}
.mama{
    color: darkorange;
}